<div id="home">
<div class="padding">
<div>
    <div class="row m-0">
        <div class="col-6 text-center">
            <h1 class="landingtext mt-4">A melhor plataforma para gerenciar seus projetos</h1>
            <h4 >Aumente o poder de gestão da sua empresa</h4>
            <br><button type="button" class="btn btn-light landingbutton"><%= link_to "Comece seu teste agora!", projects_path, style:"text-decoration: none; color: black" %></button>
        </div> 
        <div class="col-6">
            <%= image_tag("31994.png", style:"width: 60%", class: "mx-auto d-block", :alt => "31994 feed") %>
        </div>
    </div>
</div>
</div>

<div class="padding ">
<div>
    <div>
        <div class="row m-0">
            <div class="col-6">
                <div class="m-2  indexblocks">
                    <%= image_tag("6308.jpg", size: "400x250", class: "mx-auto d-block", :alt => "6308 feed") %>
                </div>
            </div>
            <div class="col-6 text-center">
                <div class="m-2  indexblocks">
                    <div>
                        <br><br>
                        <h2>Tudo que você precisa saber sobre nosso gerenciador</h2>
                        <p class=lead>A plataforma de gerenciamento de projetos Millesapp pode ajudar sua empresa a economizar tempo otimizando o controle dos processos</p>
                    </div>
                </div>
            </div>
            
        </div>   
    </div>
</div>
</div>



<div class="padding mb-5">
<div>
    <div>
        <div class="row m-0">
            <div class="col-6 text-center">
                <div class="m-2  indexblocks">
                    <div>
                        <br><br>
                        <h2 class=>Teste nossa plataforma por 1 mês gratuitamente</h2>
                        <p class=lead>
                        Entre em contato para começar seu teste gratis. 
                        Com nossa plataforma de gerenciamento, você pode usar por um mês
                        e já conferir os resultados na sua empresa.</p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="m-2  indexblocks">
                <%= image_tag("11077.jpg", size: "375x250", class: "mx-auto d-block", :alt => "11077 feed") %>
                </div>
            </div>
        </div>   
    </div>
</div>
</div>
</div>

