html {
    position: relative;
    min-height: 100%;
    width: 100%;
}
body {
    margin: 0 0 150px;    
    background-color: lightgray;
}

#home {
    background-color:#73d4ff;

}

.nav-link {
    font-family: 'Hammersmith One', sans-serif;
    color: white;

}
.form-control {
    width: 30%;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 150px;
    color: #FFF;
}

.padding{
    padding: 40px 20px ;
    width: 100%;
}

th {
    text-align: center;
  }
  
td {
    text-align: center; 
  }

.landingtext {
    padding-top: 50px;
    font-family: 'Hammersmith One', sans-serif;

}

.landingbutton {
    text-decoration :'none' !important;
    font-family: 'Hammersmith One', sans-serif;

}

.indexblocks {
    background-color:#FFF;
    height: 100%;
    box-shadow: 5px 10px #888888;
    font-family: 'Hammersmith One', sans-serif;

}

.dashboard {
    background-color: lightgray;

}

.carddash {
    height: 150px;
}

.cardpro {
    border: solid;
    padding: 1px;

}

.cardwidth {
    text-align: center;
}